#spring.application.name=RydeWebsocketServer

spring:
  application:
    name: RydeWebsocketServer

server:
  port: 9090




eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    preferIpAddress: true